<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="evilkingmedia.cueserve.com.evilkingmedia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.FilmActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.WebViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.FilmCategoryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.FilmActivityServer2"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.FilmActivityServer3"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.WebViewActivityServer3"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".film.FilmActivityServer4"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".series.SeriesCategoryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".series.SeriesActivityCatServer1"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".series.SeriesActivityServer1"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".series.SeriesActivityCatServer2"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".series.SeriesActivityServer2"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".series.SeriesActivityCategoryServer2"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme" />
        <activity android:name=".series.SeriesActivityServer3"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme"></activity>
        <activity android:name=".Sports.SportsCategoryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme"/>
        <activity android:name=".Sports.SportsActivityServer1"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme"/>
        <activity android:name=".Sports.SportsActivityCatServer1"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme"/>
    </application>

</manifest>